<doctype <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- setting up html document -->
    <title>Community Events Board Add Event</title>
  </head>
  <body>
    <h1>Tell me about your next event</h1>
    <form method = "post" action = "/results">
      <p>Event Name</p><br>
      <input type = "text" name = "event_name">
      <p>Event Date</p><br>
      <input type = "text" name = "event_date">
      <p>Event Type</p>
      <input type = "text" name = "event_type">
      <!-- open fields to input even details -->
      <input type = "submit">
      <!-- submits inputted information in fields -->
    </form>
  </body>
</html>
